<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="imfService" class="com.appdevelopment.demo.IMFServiceImplement"></bean>

    <bean id="ranilHora" class="com.appdevelopment.demo.Ranil">
        <property name="imfService" ref="imfService"></property>
    </bean>

    <bean id="namalHora" class="com.appdevelopment.demo.Namal">
        <constructor-arg ref="imfService"/>
    </bean>
    <bean id="rohithaHora" class="com.appdevelopment.demo.Rohitha">
        <constructor-arg ref="imfService"/>
    </bean>
</beans>